---
const { section, flashID, question } = Astro.props;
---

<div class="accordion accordion-flush" id={`${section}Flush`}>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target={`#${section}-flash-${flashID}`}
                aria-expanded="false"
                aria-controls={`${section}-flash-${flashID}`}
            >
                {question}
            </button>
        </h2>
        <div
            id={`${section}-flash-${flashID}`}
            class="accordion-collapse collapse"
            data-bs-parent={`#${section}Flush`}
        >
            <div class="accordion-body"><slot /></div>
        </div>
    </div>
</div>
